{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

{% if not cart_items %}

<h2 class="text-center">Your cart is empty ! </h2>
<div class="text-center">
	{% comment %} <a href="{% url 'store' %}" class="btn btn-primary"> continue shopping </a> {% endcomment %}
</div>

{% else %}

<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>

{% for cart_item in cart_items %}

<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{cart_item.dish.image.url}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="/dish_detail/{{cart_item.dish.id}}" class="title text-dark">{{cart_item.dish.dish_name}}</a>
				<p class="text-muted small">
				{% if cart_item.variation.all %}
					{% for item in cart_item.variation.all %}
						{{item.variation_category | capfirst }} : {{item.variation_value | capfirst }} <br>
					{% endfor %}
				{% endif %}
				</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
								<a href="/cart/sub_cart/{{cart_item.dish.id}}/{{cart_item.id}}"	class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </a>
							</div>
							<input type="text" class="form-control"  value="{{cart_item.quantity}}">
							<div class="input-group-append">
							<form action="/cart/add_cart/{{cart_item.dish.id}}" method="POST">
							{% csrf_token %}
							{% for item in cart_item.variation.all %}
								<input type = "hidden" name = "{{item.variation_category | lower }}" value = "{{item.variation_value | capfirst }}">
							{% endfor %}
								<button class="btn btn-light" type="submit" id="button-plus"> <i class="fa fa-plus"></i> </button>
							</form>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			{% comment %} {{ {{float({{cart_item.quantity}})}} * {{item.price}}}} {% endcomment %}
			{% for item in cart_item.variation.all %}
			<var class="price">Nrs {% widthratio cart_item.quantity 1 item.price %}</var>
			<small class="text-muted"> Nrs {{item.price}} each </small> 
			{% endfor %}

		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a href="/cart/remove_cart/{{cart_item.dish.id}}/{{cart_item.id}}" onclick="return confirm('Are you sure youwant to remove this item?')"class="btn btn-danger"> Remove</a>
	</td>
</tr>

{% endfor cart_item %}

</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>No of items:</dt>
			  <dd class="text-right">{{cart_item_count}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total no of items:</dt>
			  <dd class="text-right">{{quantity}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">Nrs {{total}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> Nrs {{tax}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>Nrs {{grand_total}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="./images/misc/payments.png" height="26">
			</p>
			<a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
			{% comment %} <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a> {% endcomment %}
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
{% endif %}

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}