{% extends './base.html' %}
{% load static %}
{% block content %}





<section class="section-conten padding-y" style="min-height:84vh">


  {% if request.GET.command == 'verification' %}
  <div class="container mx-auto alert alert-info text-center" role='alert' style="max-width: 380px; margin-top:100px;">
    Thank you for registering with us. We have sent you a verification mail to {{request.GET.email}}. You need to verify
    to login with this account.
    <br><br>
    Already verified? <a href="{% url 'login' %}">Login</a>
  </div>

  {% else %}
  {% if request.GET.command == 'resetpassword' %}
  <div class="container mx-auto alert alert-info text-center" role='alert' style="max-width: 380px; margin-top:100px;">
    Password reset mail has been sent to {{request.GET.email}}. check your mail for the valid link.
    <br>
  </div>
  {% endif %}
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  {% comment %} {% if user.id is none %} {% endcomment %}
  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      {% include 'includes/alert.html' %}
      <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" name="email">
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div> <!-- form-group// -->

        <div class="form-group">
          <a href="/forgotpassword/" class="float-right">Forgot password?</a>

        </div> <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Login </button>
        </div> <!-- form-group// -->
      </form>
    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

  <p class="text-center mt-4">Don't have account? <a href="/register/">Sign up</a></p>
  {% comment %} {% else %}
  <br>
  <div class="d-block text-center">
    <h3 class="">You are logged in.</h3>
    <a href="{% url 'store' %}" class="btn btn-primary"> continue shopping </a>
  </div>
  {% endif %} {% endcomment %}
  <br><br>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  {% endif %}


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}