{% extends './base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
    .dishes{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: auto auto auto;
    }
    .dishes .card{
        overflow: hidden;
    }
    .dishes img {
        position: relative;
        height: 300px;
        width: 400px;
        object-fit: center;
    }
</style>

<h2> Search results :  </h2>
{% if product_count < 2 %}
<p> {{product_count}} dish found.</p>
{% else %}
<p> {{product_count}} dishes found.</p>
{% endif %}
<div class="card-group dishes">
    {% for dish in dishes %}
        <a href="/dish_detail/{{dish.id}}">
            <div class="card">
                <img src="{{dish.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{dish.dish_name}}</h5>
                    <p class="card-text">{{dish.description}}</p>
                    {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}
